<a href="https://colab.research.google.com/github/AmiMunshi/MachineLearningNew/blob/main/ML_Lab8_DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
#import the relevant libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import Normalizer
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

In [56]:
df= pd.read_csv('/content/diabetes.csv') #read the dataset

In [57]:
df.head() #Visualize the dataset

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [58]:
df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [59]:
#to see if any columns has empty cells
for column in df:
  print(" Number of empty cells in {} is {} ". format(column, (df[column]=="").sum()))

 Number of empty cells in Pregnancies is 0
 Number of empty cells in Glucose is 0
 Number of empty cells in BloodPressure is 0
 Number of empty cells in SkinThickness is 0
 Number of empty cells in Insulin is 0
 Number of empty cells in BMI is 0
 Number of empty cells in DiabetesPedigreeFunction is 0
 Number of empty cells in Age is 0
 Number of empty cells in Outcome is 0

In [60]:
for column in df:
  print(" Number of empty cells in {} is {} ". format(column, df[column].isnull().sum()))

 Number of empty cells in Pregnancies is 0
 Number of empty cells in Glucose is 0
 Number of empty cells in BloodPressure is 0
 Number of empty cells in SkinThickness is 0
 Number of empty cells in Insulin is 0
 Number of empty cells in BMI is 0
 Number of empty cells in DiabetesPedigreeFunction is 0
 Number of empty cells in Age is 0
 Number of empty cells in Outcome is 0

In [61]:
#To check how many zeros are there in each column
for column in df:
  print(("Number of zeros in {} is {}".format(column,(df[column]==0).sum())))

Number of zeros in Pregnancies is 111
Number of zeros in Glucose is 5
Number of zeros in BloodPressure is 35
Number of zeros in SkinThickness is 227
Number of zeros in Insulin is 374
Number of zeros in BMI is 11
Number of zeros in DiabetesPedigreeFunction is 0
Number of zeros in Age is 0
Number of zeros in Outcome is 500

In [62]:
from sklearn.impute import SimpleImputer
impute = SimpleImputer(missing_values=0,strategy='mean')

df[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']]=impute.fit_transform(df[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']])

In [63]:
df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  121.686763  ...   33.240885    0.348958
std       3.369578   30.435949  ...   11.760232    0.476951
min       0.000000   44.000000  ...   21.000000    0.000000
25%       1.000000   99.750000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [64]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6    148.0           72.0  ...                     0.627   50        1
1            1     85.0           66.0  ...                     0.351   31        0
2            8    183.0           64.0  ...                     0.672   32        1
3            1     89.0           66.0  ...                     0.167   21        0
4            0    137.0           40.0  ...                     2.288   33        1

[5 rows x 9 columns]

In [65]:
#To check how many zeros are there in each column
for column in df:
  print(("Number of zeros in {} is {}".format(column,(df[column]==0).sum())))

Number of zeros in Pregnancies is 111
Number of zeros in Glucose is 0
Number of zeros in BloodPressure is 0
Number of zeros in SkinThickness is 0
Number of zeros in Insulin is 0
Number of zeros in BMI is 0
Number of zeros in DiabetesPedigreeFunction is 0
Number of zeros in Age is 0
Number of zeros in Outcome is 500

In [66]:
#Define the independent and dependent variables
y= df['Outcome'] #dependent variable is price
x= df.drop(['Outcome'], axis=1)

In [67]:
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.3,random_state=1)

In [68]:
#Implementing DecisionTree using sklearn
model = DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [69]:
#Make prediction for the test data
y_pred= model.predict(x_test)

In [70]:
ConfusionMatrix = confusion_matrix(y_test, y_pred)
print(ConfusionMatrix)

[[117  29]
 [ 30  55]]

In [71]:
#Accuracy score
Accuracy=accuracy_score(y_test,y_pred)
print("Accuracy of the model is- ", Accuracy)

Accuracy of the model is-  0.7445887445887446